@font-face {
    font-family: '思源黑体 CN';
    src: url('./SourceHanSansCN-Light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: '思源黑体 CN';
    src: url('./SourceHanSansCN-Normal.otf') format('opentype');
    font-weight: 400;
}
