* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    user-select: none;
    font-family: '思源黑体 CN', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    zoom: 1;
}
*::-webkit-scrollbar {
    width: calc(5vw/8);
}
*::-webkit-scrollbar-button {
    height: 0;
    display: none;
    background-color: transparent;
}
*::-webkit-scrollbar-track-piece {
    background-color: transparent;
    padding-right: calc(5vw/8);
}
*::-webkit-scrollbar-thumb {
    width: calc(5vw/8);
    border-radius: calc(5vw/16 * var(--height-control));
    min-height: calc(5vw * var(--height-control));
    max-height: calc(10vw * var(--height-control));
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color var(--animation-time) var(--ease-in-out);
}
*:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}
*:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0;
}
*:hover::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0;
}
button {
    outline: none !important;
    cursor: pointer;
}
body {
    width: 100%;
    height: calc(225vw/4 * var(--height-control));
    overflow: hidden;
}
