#main-context > section[data-name='aboutPage'] {
    padding: calc(25vw/8) 0 calc(25vw/16) calc(225vw/32);
}
#main-context > section[data-name='aboutPage'] #about-inner {
    height: 100%;
    width: calc(100% - 25vw/4);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
#main-context > section[data-name='aboutPage'] #about-inner h3 {
    cursor: default;
    font-size: calc(45vw/32);
    padding-top: calc(5vw/8);
    line-height: calc(55vw/32);
    color: var(--bold-text);
}
#main-context > section[data-name='aboutPage'] #about-inner p {
    margin-top: calc(5vw/16);
    padding-bottom: calc(5vw/16);
    cursor: default;
    line-height: calc(25vw/16);
    font-size: calc(35vw/32);
    padding-left: calc(5vw/4);
    color: var(--light-text);
}
#main-context > section[data-name='aboutPage'] #about-inner p span {
    padding-right: calc(25vw/64);
}
