#bottom-panel {
    height: calc(325vw/64);
    width: 100%;
    position: relative;
    background-color: var(--bottom-panel-color);
    border-top: calc(5vw/64) solid var(--border-color);
    margin: 0 auto;
}
#bottom-panel #serverInfo {
    font-size: calc(35vw/32);
    position: absolute;
    line-height: calc(35vw/32);
    top: 1.25vw;
    left: calc(105vw/32);
    color: var(--light-text);
    cursor: pointer;
}
#bottom-panel #pingInfo {
    cursor: default;
    font-size: calc(35vw/32);
    position: absolute;
    line-height: calc(35vw/32);
    top: calc(85vw/32);
    left: calc(105vw/32);
    color: var(--light-text);
}
#bottom-panel #pingInfo::before {
    display: block;
    position: absolute;
    border-radius: 50%;
    content: ' ';
    width: calc(25vw/32);
    height: calc(25vw/32);
    left: calc(-15vw/8);
    top: calc(-5vw/8);
}
#bottom-panel #pingInfo.offline::before {
    background-color: var(--ping-offline);
}
#bottom-panel #pingInfo.red::before {
    background-color: var(--ping-red);
}
#bottom-panel #pingInfo.green::before {
    background-color: var(--ping-green);
}
#bottom-panel #pingInfo.orange::before {
    background-color: var(--ping-orange);
}
#bottom-panel #launch {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 calc(15vw/4);
    height: calc(325vw/64);
    line-height: calc(325vw/64);
    background-color: var(--main-color);
    color: var(--white-text);
    text-align: center;
    font-size: calc(15vw/8);
    font-weight: 300;
    cursor: pointer;
    border: none;
    transition: background-color var(--animation-time) var(--ease-in-out);
}
#bottom-panel #launch:hover {
    background-color: var(--main-dark-color);
}
#bottom-panel #launch:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-color);
}
