#main-context > section > div.info-cards {
    color: var(--light-text);
    width: calc(100% - calc(5vw/4));
    height: calc(100% - calc(25vw/8) - calc(25vw/16));
    position: absolute;
    top: calc(25vw/8);
    overflow-y: auto;
    padding-left: calc(255vw/32);
}
#main-context > section > div.info-cards article {
    width: calc(125vw/4);
    height: calc(45vw/4);
    font-size: calc(35vw/32);
    position: relative;
    box-shadow: 0 0 calc(15vw/32) rgba(0, 0, 0, 0.05);
    transition: box-shadow var(--animation-time) var(--ease-in-out);
    background-color: var(--info-card-color);
    float: left;
    margin-top: calc(5vw/8);
    margin-bottom: calc(5vw/4);
    margin-right: calc(45vw/16);
}
#main-context > section > div.info-cards article:hover {
    box-shadow: 0 0 calc(15vw/32) rgba(0, 0, 0, 0.2);
}
#main-context > section > div.info-cards article * {
    float: left;
    cursor: default;
    word-wrap: break-word;
}
#main-context > section > div.info-cards article img {
    width: calc(45vw/4);
    height: calc(45vw/4);
}
#main-context > section > div.info-cards article h3 {
    padding-top: calc(5vw/4);
    padding-left: calc(25vw/16);
    color: var(--bold-text);
    font-size: calc(35vw/32);
    line-height: calc(35vw/32);
    max-width: calc(100% - 25vw/16 - 45vw/4);
}
#main-context > section > div.info-cards article span {
    padding-top: calc(5vw/4);
    padding-right: calc(25vw/16);
    float: right;
    font-size: calc(35vw/32);
    line-height: calc(35vw/32);
    max-width: calc(100% - 25vw/16 - 45vw/4);
}
#main-context > section > div.info-cards article p {
    padding-left: calc(25vw/16);
    padding-top: calc(15vw/32);
    padding-right: calc(25vw/16);
    width: var(--bold-text);
    width: calc(125vw/4 - 45vw/4);
    line-height: calc(45vw/32);
}
#main-context > section > div.info-cards article address {
    font-style: normal;
    padding-left: calc(25vw/16);
    position: absolute;
    bottom: calc(35vw/32);
    left: calc(45vw/4);
}
#main-context > section > div.info-cards article address::before {
    font-family: 'iconfont' !important;
    font-size: calc(35vw/32);
    content: '';
    padding-right: calc(5vw/16);
}
#main-context > section > div.info-cards article input {
    display: none;
}
#main-context > section > div.info-cards article input[type='checkbox'] + label {
    height: 0;
    width: 0;
    line-height: 0;
    font-size: calc(15vw/16);
   /* opacity: 0;
    */
    position: absolute;
    bottom: calc(5vw/4);
    right: calc(25vw/16);
    cursor: pointer;
    outline: none !important;
}
#main-context > section > div.info-cards article input[type='checkbox'] + label::before {
    content: ' ';
    display: block;
    width: calc(5vw/2);
    height: calc(5vw/4);
    border-radius: calc(5vw/8);
    position: relative;
    right: calc(5vw/2);
    bottom: calc(5vw/4);
    background-color: var(--switch-disable-color);
    transition: background-color var(--animation-time) var(--ease-in-out);
}
#main-context > section > div.info-cards article input[type='checkbox'] + label::after {
    content: ' ';
    display: block;
    width: calc(15vw/16);
    height: calc(15vw/16);
    border-radius: calc(15vw/32);
    position: relative;
    left: calc(-5vw/2 + 5vw/32);
    bottom: calc(15vw/16 + 5vw/32 + 5vw/4);
    background-color: var(--switch-ball-color);
    transition: left var(--animation-time) var(--ease-in-out);
}
#main-context > section > div.info-cards article input[type='checkbox']:checked + label::before {
    background-color: var(--switch-able-color);
}
#main-context > section > div.info-cards article input[type='checkbox']:checked + label::after {
    left: calc(-15vw/16 - 5vw/32);
}
#main-context > section > div.info-cards article input[type='button'] + label {
    font-style: normal;
    position: absolute;
    bottom: calc(15vw/16);
    right: calc(45vw/32);
    background-color: transparent;
    border: 0;
    color: var(--light-text);
    cursor: pointer;
}
#main-context > section > div.info-cards article input[type='button'] + label:hover {
    color: var(--bold-text);
}
#main-context > section > div.info-cards article input[type='button'] + label::before {
    font-family: 'iconfont' !important;
    font-size: calc(5vw/4);
    content: '';
}
#main-context > section > div.info-cards article .remove-btn, #main-context > section > div.info-cards article .export-btn {
    font-style: normal;
    position: absolute;
    bottom: calc(35vw/32);
    right: calc(95vw/32);
    background-color: transparent;
    border: 0;
    color: var(--light-text);
    display: none;
    cursor: pointer;
}
#main-context > section > div.info-cards article .remove-btn:hover, #main-context > section > div.info-cards article .export-btn:hover {
    color: var(--bold-text);
}
#main-context > section > div.info-cards article .remove-btn::before, #main-context > section > div.info-cards article .export-btn::before {
    font-family: 'iconfont' !important;
    font-size: calc(35vw/32);
    content: '';
}
#main-context > section > div.info-cards article .export-btn {
    right: calc(45vw/32);
}
#main-context > section > div.info-cards article .export-btn::before {
    content: '';
}
#main-context > section > div.info-cards article.edit .remove-btn, #main-context > section > div.info-cards article.edit .export-btn {
    display: block;
}
#main-context > section > div.info-cards article.edit input + label {
    display: none;
}
