#main-context > section > div.info-cards {
    color: var(--light-text);
    width: calc(100% - 16px);
    height: calc(100% - 40px - 20px);
    position: absolute;
    top: 40px;
    overflow-y: auto;
    padding-left: 102px;
}
#main-context > section > div.info-cards article {
    width: 500/16%;
    height: 20%;
    font-size: 14px;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    transition: box-shadow var(--animation-time) var(--ease-in-out);
    background-color: var(--info-card-color);
    float: left;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-right: 36px;
}
#main-context > section > div.info-cards article:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
#main-context > section > div.info-cards article * {
    float: left;
    cursor: default;
    word-wrap: break-word;
}
#main-context > section > div.info-cards article img {
    width: 144px;
    height: 144px;
}
#main-context > section > div.info-cards article h3 {
    padding-top: 16px;
    padding-left: 20px;
    color: var(--bold-text);
    font-size: 14px;
    line-height: 14px;
    max-width: calc(100% - 20px - 144px);
}
#main-context > section > div.info-cards article span {
    padding-top: 16px;
    padding-right: 20px;
    float: right;
    font-size: 14px;
    line-height: 14px;
    max-width: calc(100% - 20px - 144px);
}
#main-context > section > div.info-cards article p {
    padding-left: 20px;
    padding-top: 6px;
    padding-right: 20px;
    width: var(--bold-text);
    width: calc(400px - 144px);
    line-height: 18px;
}
#main-context > section > div.info-cards article address {
    font-style: normal;
    padding-left: 20px;
    position: absolute;
    bottom: 14px;
    left: 144px;
}
#main-context > section > div.info-cards article address::before {
    font-family: 'iconfont' !important;
    font-size: 14px;
    content: '';
    padding-right: 4px;
}
#main-context > section > div.info-cards article input {
    display: none;
}
#main-context > section > div.info-cards article input[type='checkbox'] + label {
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 12px;
   /* opacity: 0;
    */
    position: absolute;
    bottom: 16px;
    right: 20px;
    cursor: pointer;
    outline: none !important;
}
#main-context > section > div.info-cards article input[type='checkbox'] + label::before {
    content: ' ';
    display: block;
    width: 32px;
    height: 16px;
    border-radius: 8px;
    position: relative;
    right: 32px;
    bottom: 16px;
    background-color: var(--switch-disable-color);
    transition: background-color var(--animation-time) var(--ease-in-out);
}
#main-context > section > div.info-cards article input[type='checkbox'] + label::after {
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    position: relative;
    left: calc(-32px + 2px);
    bottom: calc(12px + 2px + 16px);
    background-color: var(--switch-ball-color);
    transition: left var(--animation-time) var(--ease-in-out);
}
#main-context > section > div.info-cards article input[type='checkbox']:checked + label::before {
    background-color: var(--switch-able-color);
}
#main-context > section > div.info-cards article input[type='checkbox']:checked + label::after {
    left: calc(-12px - 2px);
}
#main-context > section > div.info-cards article input[type='button'] + label {
    font-style: normal;
    position: absolute;
    bottom: 12px;
    right: 18px;
    background-color: transparent;
    border: 0;
    color: var(--light-text);
    cursor: pointer;
}
#main-context > section > div.info-cards article input[type='button'] + label:hover {
    color: var(--bold-text);
}
#main-context > section > div.info-cards article input[type='button'] + label::before {
    font-family: 'iconfont' !important;
    font-size: 16px;
    content: '';
}
#main-context > section > div.info-cards article .remove-btn, #main-context > section > div.info-cards article .export-btn {
    font-style: normal;
    position: absolute;
    bottom: 14px;
    right: 38px;
    background-color: transparent;
    border: 0;
    color: var(--light-text);
    display: none;
    cursor: pointer;
}
#main-context > section > div.info-cards article .remove-btn:hover, #main-context > section > div.info-cards article .export-btn:hover {
    color: var(--bold-text);
}
#main-context > section > div.info-cards article .remove-btn::before, #main-context > section > div.info-cards article .export-btn::before {
    font-family: 'iconfont' !important;
    font-size: 14px;
    content: '';
}
#main-context > section > div.info-cards article .export-btn {
    right: 18px;
}
#main-context > section > div.info-cards article .export-btn::before {
    content: '';
}
#main-context > section > div.info-cards article.edit .remove-btn, #main-context > section > div.info-cards article.edit .export-btn {
    display: block;
}
#main-context > section > div.info-cards article.edit input + label {
    display: none;
}
