#left-panel {
    height: var(--main-height);
    width: calc(241/1280*100%);
    border-right: 1px solid var(--border-color);
    background-color: var(--left-panel-color);
}
#left-panel ul {
    cursor: pointer;
    width: 100%;
}
#left-panel ul li {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: var(--bold-text);
    padding-left: 48px;
    transition: background-color var(--animation-time) var(--ease-in-out);
}
#left-panel ul li.active {
    background-color: var(--left-panel-active-color);
}
#left-panel ul li:hover {
    background-color: var(--left-panel-hover-color);
}
#left-panel ul li::before {
    font-family: 'iconfont' !important;
    position: absolute;
    left: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    color: var(--icon-color);
}
#left-panel ul li[data-target='resourcepackPage']::before {
    content: '';
}
#left-panel ul li[data-target='extensionPage']::before {
    content: '';
    font-size: 16px;
}
#left-panel ul li[data-target='toolPage']::before {
    content: '';
    font-size: 18px;
}
#left-panel ul li[data-target='settingPage']::before {
    content: '';
    font-size: 18px;
}
#left-panel ul li[data-target='aboutPage']::before {
    content: '';
}
