@import './left_panel.css';
@import './bottom_panel.css';
@import './info_card.css';
@import './setting_page.css';
@import './about_page.css';
#main-context * {
    float: left;
}
#main-context section {
	display: none;
	height: calc(785vw/16 * var(--height-control));
	width: calc(5195vw/64);
	background-color: var(--section-color);
	position: relative;
}
#main-context section.show {
	display: block;
}
#main-context section .big-btn {
	font-style: normal;
	position: absolute;
	top: calc(5vw/8 * var(--height-control));
	background-color: transparent;
	border: 0;
	color: var(--light-text);
}
#main-context section .big-btn:hover {
	color: var(--bold-text);
}
#main-context section .big-btn::before {
	font-size: calc(15vw/8 * var(--height-control));
}
#main-context section .refresh-btn {
	left: calc(255vw/32);
}
#main-context section .refresh-btn::before {
	font-family: 'iconfont' !important;
	content: '';
}
#main-context section .openfolder-btn {
	right: calc(225vw/16);
}
#main-context section .install-btn {
	right: calc(175vw/16);
}
#main-context section .install-btn::before {
	font-family: 'iconfont' !important;
	content: '';
}
#main-context section .edit-btn {
	right: calc(125vw/16);
}
#main-context section .edit-btn::before {
	font-family: 'iconfont' !important;
	content: '';
}
 