#main-context > section[data-name='settingPage'] {
    padding: calc(25vw/8) 0 calc(25vw/16) calc(255vw/32);
}
#main-context > section[data-name='settingPage'] #save-configs {
    left: calc(255vw/32);
}
#main-context > section[data-name='settingPage'] #save-configs::before {
    font-family: 'iconfont' !important;
    content: 'î›­';
}
#main-context > section[data-name='settingPage'] #setting-inner {
    height: calc(225vw/4 * var(--height-control));
    width: calc(100% - calc(5vw/4));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
#main-context > section[data-name='settingPage'] #setting-inner h3 {
    cursor: default;
    font-size: calc(45vw/32 * var(--height-control));
    padding-top: calc(5vw/8 * var(--height-control));
    line-height: calc(55vw/32 * var(--height-control));
    color: var(--bold-text);
}
#main-context > section[data-name='settingPage'] #setting-inner p {
    height: calc(25vw/16 * var(--height-control));
    margin-top: calc(5vw/16 * var(--height-control));
    cursor: default;
    width: max-content;
    line-height: calc(25vw/16 * var(--height-control));
    font-size: calc(35vw/32 * var(--height-control));
    padding-left: calc(5vw/4);
    color: var(--light-text);
}
#main-context > section[data-name='settingPage'] #setting-inner input {
    outline: none !important;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='number'] {
    height: calc(25vw/16 * var(--height-control));
    margin-top: calc(5vw/16 * var(--height-control));
    margin-left: calc(5vw/32);
    line-height: calc(25vw/16 * var(--height-control));
    font-size: calc(35vw/32 * var(--height-control));
    width: calc(45vw/16);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='number']::-webkit-outer-spin-button, #main-context > section[data-name='settingPage'] #setting-inner input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='text'] {
    height: calc(25vw/16 * var(--height-control));
    margin-top: calc(5vw/16 * var(--height-control));
    margin-left: calc(5vw/32);
    line-height: calc(25vw/16 * var(--height-control));
    font-size: calc(35vw/32 * var(--height-control));
    width: max-content;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='text']::-webkit-outer-spin-button, #main-context > section[data-name='settingPage'] #setting-inner input[type='text']::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox'] {
    display: none;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='number'] + label {
    width: max-content;
    height: calc(25vw/16 * var(--height-control));
    margin-top: calc(5vw/16 * var(--height-control));
    line-height: calc(25vw/16 * var(--height-control));
    font-size: calc(35vw/32 * var(--height-control));
    cursor: pointer;
    outline: none !important;
    padding-left: calc(25vw/32);
    color: var(--light-text);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='text'] + label {
    width: max-content;
    height: calc(25vw/16 * var(--height-control));
    margin-top: calc(5vw/16 * var(--height-control));
    line-height: calc(25vw/16 * var(--height-control));
    font-size: calc(35vw/32 * var(--height-control));
    cursor: pointer;
    outline: none !important;
    padding-left: calc(25vw/32);
    color: var(--light-text);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox'] + label {
    width: max-content;
    height: calc(25vw/16 * var(--height-control));
    margin-top: calc(5vw/16 * var(--height-control));
    line-height: calc(25vw/16 * var(--height-control));
    font-size: calc(35vw/32 * var(--height-control));
    cursor: pointer;
    outline: none !important;
    display: block;
    padding-left: calc(5vw/4);
    color: var(--light-text);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox'] + label::before {
    content: ' ';
    display: inline-block;
    width: calc(5vw/2);
    height: calc(5vw/4 * var(--height-control));
    border-radius: calc(5vw/8 * var(--height-control));
    position: relative;
    top: calc(15vw/64 * var(--height-control));
    right: calc(15vw/16);
    background-color: var(--switch-disable-color);
    transition: background-color var(--animation-time) var(--ease-in-out);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox'] + label::after {
    content: ' ';
    display: block;
    width: calc(15vw/16);
    height: calc(15vw/16 * var(--height-control));
    border-radius: calc(15vw/32 * var(--height-control));
    position: relative;
    left: calc(-25vw/32);
    bottom: calc(5vw/4 * var(--height-control));
    background-color: var(--switch-ball-color);
    transition: left var(--animation-time) var(--ease-in-out);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox']:checked + label::before {
    background-color: var(--switch-able-color);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox']:checked + label::after {
    left: calc(-15vw/16 - 5vw/32 + 25vw/16);
}
