#main-context > section[data-name='settingPage'] {
    padding: 40px 0 20px 102px;
}
#main-context > section[data-name='settingPage'] #save-configs {
    left: 102px;
}
#main-context > section[data-name='settingPage'] #save-configs::before {
    font-family: 'iconfont' !important;
    content: 'î›­';
}
#main-context > section[data-name='settingPage'] #setting-inner {
    height: 100%;
    width: calc(100% - 16px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
#main-context > section[data-name='settingPage'] #setting-inner h3 {
    cursor: default;
    font-size: 18px;
    padding-top: 8px;
    line-height: 22px;
    color: var(--bold-text);
}
#main-context > section[data-name='settingPage'] #setting-inner p {
    height: 20px;
    margin-top: 4px;
    cursor: default;
    width: max-content;
    line-height: 20px;
    font-size: 14px;
    padding-left: 16px;
    color: var(--light-text);
}
#main-context > section[data-name='settingPage'] #setting-inner input {
    outline: none !important;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='number'] {
    height: 20px;
    margin-top: 4px;
    margin-left: 2px;
    line-height: 20px;
    font-size: 14px;
    width: 36px;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='number']::-webkit-outer-spin-button, #main-context > section[data-name='settingPage'] #setting-inner input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='text'] {
    height: 20px;
    margin-top: 4px;
    margin-left: 2px;
    line-height: 20px;
    font-size: 14px;
    width: max-content;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='text']::-webkit-outer-spin-button, #main-context > section[data-name='settingPage'] #setting-inner input[type='text']::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox'] {
    display: none;
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='number'] + label {
    width: max-content;
    height: 20px;
    margin-top: 4px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    outline: none !important;
    padding-left: 10px;
    color: var(--light-text);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='text'] + label {
    width: max-content;
    height: 20px;
    margin-top: 4px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    outline: none !important;
    padding-left: 10px;
    color: var(--light-text);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox'] + label {
    width: max-content;
    height: 20px;
    margin-top: 4px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    outline: none !important;
    display: block;
    padding-left: 16px;
    color: var(--light-text);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox'] + label::before {
    content: ' ';
    display: inline-block;
    width: 32px;
    height: 16px;
    border-radius: 8px;
    position: relative;
    top: 3px;
    right: 12px;
    background-color: var(--switch-disable-color);
    transition: background-color var(--animation-time) var(--ease-in-out);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox'] + label::after {
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    position: relative;
    left: -10px;
    bottom: 16px;
    background-color: var(--switch-ball-color);
    transition: left var(--animation-time) var(--ease-in-out);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox']:checked + label::before {
    background-color: var(--switch-able-color);
}
#main-context > section[data-name='settingPage'] #setting-inner input[type='checkbox']:checked + label::after {
    left: calc(-12px - 2px + 20px);
}
