.blur {
    --title-color: #fddaea;
    --title-text: #808080;
    --mac-close-btn: #c0c0c0;
    --mac-close-btn-border: #a0a0a0;
}
#titlebar h1 {
    display: block;
    width: 100%;
    height: 2.1875vw;
    text-align: center;
    color: var(--title-text);
    background-color: var(--title-color);
    font-size: 1.09375vw;
    line-height: 2.1875vw;
    -webkit-app-region: drag;
}
#titlebar .close-btn::before {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 2.1875vw;
    width: 3.75vw;
    content: '×';
    color: var(--title-text);
    font-size: 1.09375vw;
    font-weight: 300;
    background-color: #f00 0;
    transition: color var(--animation-time) var(--ease-in-out);
    transition: background-color var(--animation-time) var(--ease-in-out);
    -webkit-app-region: no-drag;
    text-align: center;
    line-height: 2.1875vw;
}
#titlebar .close-btn:hover::before {
    background-color: #f12;
    color: var(--white-text);
}
