.blur {
    --title-color: #fddaea;
    --title-text: #808080;
    --mac-close-btn: #c0c0c0;
    --mac-close-btn-border: #a0a0a0;
}
#titlebar h1 {
    display: block;
    width: 100%;
    height: calc(35vw/16 * var(--height-control));
    text-align: center;
    color: var(--title-text);
    background-color: var(--title-color);
    font-size: calc(35vw/32 * var(--height-control));
    line-height: calc(35vw/16 * var(--height-control));
    -webkit-app-region: drag;
}
#titlebar .close-btn::before {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: calc(35vw/16 * var(--height-control));
    width: calc(15vw/4);
    content: '×';
    color: var(--title-text);
    font-size: calc(35vw/32 * var(--height-control));
    font-weight: 300;
    background-color: #f00 0;
    transition: color var(--animation-time) var(--ease-in-out);
    transition: background-color var(--animation-time) var(--ease-in-out);
    -webkit-app-region: no-drag;
    text-align: center;
    line-height: calc(35vw/16 * var(--height-control));
}
#titlebar .close-btn:hover::before {
    background-color: #f12;
    color: var(--white-text);
}
