#update-card {
    display: none;
    padding: calc(5vw/4) calc(25vw/16);
    position: fixed;
    left: 0;
    bottom: calc(5vw * var(--height-control));
    height: calc((45vw/4 + 5vw/32) * var(--height-control));
    width: calc(20vw + 5vw/32);
    background-color: var(--info-card-color);
    border: calc(5vw/64 * var(--height-control)) solid var(--border-color);
    user-select: none;
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
   }
    1% {
        display: block;
        opacity: 0;
   }
    100% {
        display: block;
        opacity: 1;
   }
}
#update-card h3 {
    color: var(--bold-text);
    font-size: calc(35vw/32 * var(--height-control));
    line-height: calc(35vw/32 * var(--height-control));
    max-width: 100%;
    margin-bottom: calc(5vw/8 * var(--height-control));
    cursor: default;
}
#update-card p {
    font-size: calc(35vw/32 * var(--height-control));
    line-height: calc(45vw/32 * var(--height-control));
    color: var(--light-text);
    margin-bottom: calc(5vw/8 * var(--height-control));
    cursor: default;
}
#update-card button {
    font-size: calc(15vw/16 * var(--height-control));
    font-weight: 400;
}
#update-card button.hide {
    display: none;
}
#update-card button.updateCard_close {
    position: absolute;
    top: calc(125vw/16 * var(--height-control));
    left: calc(15vw/8);
    color: var(--light-text);
    border: none;
    text-underline-position: under;
    background-color: transparent;
    text-decoration: underline;
    transition: color var(--animation-time) var(--ease-in-out);
}
#update-card button.updateCard_close:hover {
    color: var(--bold-text);
}
#update-card button.updateCard_view {
    position: absolute;
    top: calc(125vw/16 * var(--height-control));
    right: calc(15vw/8);
    border: none;
    color: var(--white-text);
    background-color: var(--main-color);
    transition: background-color var(--animation-time) var(--ease-in-out);
    padding: calc(5vw/16) calc(15vw/16);
    float: right;
}
#update-card button.updateCard_view:hover {
    background-color: var(--main-dark-color);
}
#update-card button.updateCard_view:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}
#update-card.show {
    display: block;
    animation: fadeInFromNone var(--animation-time) var(--ease-in-out);
}
